<a href="https://colab.research.google.com/github/ConsueloFarias/proyecto-final-consuelo-v2/blob/main/clasesCoder/clase-3/Ejercicios_data_casas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

# Cargar datos
url = "https://github.com/ConsueloFarias/proyecto-final-consuelo-v2/raw/refs/heads/main/house_prices_try.csv.zip"

df = pd.read_csv(url)
df.head() # Mostrar los primeros 5 registros

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [5]:
#Si quieres ver el índice y los valores de tu DataFrame:
print("\nÍndice del DataFrame:", df.index)
print("Valores del DataFrame:\n", df.values)

Índice del DataFrame: RangeIndex(start=0, stop=187531, step=1)
Valores del DataFrame:
 [[0
  '1 BHK Ready to Occupy Flat for sale in Srushti Siddhi Mangal Murti Complex Bhiwandi'
  'Bhiwandi, Thane has an attractive 1 BHK Flat for sale. The property is ideally located in a strategic location in Srushti Siddhi Mangal Murti Complex township. This flat for resale is a choice property. This apartment ready to move in the Bhiwandi is available for an attractive price of\xa0INR 42 Lac. You will find it unfurnished.'
  ... nan nan nan]
 [1 '2 BHK Ready to Occupy Flat for sale in Dosti Vihar Pokhran Road'
  'One can find this stunning 2 BHK flat for sale in Pokhran Road, Thane. It enjoys an excellent location within the\xa0Dosti Vihar. This flat for resale is a choice property. This ready to move flat in Pokhran Road can be availed at a reasonable price of INR 98 Lac. This semi-furnished flat is strategically designed with all the amenities to enhance the living experience. The property is strategically placed near prominent places as near singhaniya school which make for the smooth living of residents.'
  ... nan nan nan]
 [2
  '2 BHK Ready to Occupy Flat for sale in Sunrise by Kalpataru Kolshet Road'
  "Up for immediate sale is a 2 BHK apartment in Kolshet Road, Thane. Don't miss this bargain flat for sale. Situated in the Sunrise By Kalpataru township, it has a prime location. This flat for resale has a desirable location. You can buy this ready to move flat in Kolshet Road at a reasonable price of INR 1.40 Cr. This unfurnished flat is strategically designed with all the amenities to enhance the living experience. Landmarks near the apartment include pokhran road no 2."
  ... nan nan nan]
 ...
 [187528
  '3 BHK Ready to Occupy Flat for sale in Bollywood Esencia Gazipur'
  'Gazipur, Zirakpur has an appealing 3 BHK flat for sale with various amenities. This flat is placed in a marvellous location within the Bollywood Esencia complex. This flat is available as a resale property. This ready to move flat in Gazipur can be availed at a reasonable price of INR 76 Lac. This flat is an ideal choice because it is an furnished apartment with all basic amenities. Significant landmarks in its proximity are this property is available on gajipur road..'
  ... nan nan nan]
 [187529
  '2 BHK Ready to Occupy Flat for sale in Friends Enclave Kishanpura'
  "Up for immediate sale is a 2 BHK apartment in Kishanpura, Zirakpur. Don't miss this bargain flat for sale. This flat is placed in a marvellous location within the Friends Enclave complex. This premium flat is available for resale at an unbelievable price, so, grab it before it's gone! This ready to move flat in Kishanpura comes at an affordable price of INR 30 Lac. This premium semi-furnished flat spells quality and comfort at a competitive price."
  ... '709 sqft' nan nan]
 [187530
  '3 BHK Ready to Occupy Flat for sale in Affinity Greens Airport Road'
  'This exquisite 3 BHK Flat is offered for sale in Airport Road, Zirakpur. This flat is situated within the renown township of Affinity Greens. This flat for resale is a choice property. This ready to move flat in Airport Road comes at an affordable price of INR 1.18 Cr. The flat is semi-furnished and is suitable for any family size. this property is located on airport road, zirakpur are some major landmarks near the apartment.'
  ... '1915 sqft' nan nan]]

In [6]:
#Y si quieres ver una serie específica (por ejemplo, una columna):
serie = df['Status']  # reemplaza 'Precio' por el nombre real de la columna que quieras ver
print("\nÍndice de la serie:", serie.index)
print("Valores de la serie:", serie.values)

Índice de la serie: RangeIndex(start=0, stop=187531, step=1)
Valores de la serie: ['Ready to Move' 'Ready to Move' 'Ready to Move' ... 'Ready to Move'
 'Ready to Move' 'Ready to Move']

In [8]:
# Ver nombres de columnas
print(df.columns)

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='object')

In [9]:

# Ver estructura general
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [10]:
# Ver estadísticas de columnas numéricas
df.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [11]:
# Ver primeros registros completos
df.head(3)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN

In [12]:
#deteccion de valores ausentes
print(df.isnull())
#Devuelve un DataFrame del mismo tamaño que df.
#Cada valor se reemplaza por:
#True si está ausente (NaN)
#False si sí hay valor

        Index  Title  Description  Amount(in rupees)  Price (in rupees)  \
0       False  False        False              False              False
1       False  False        False              False              False
2       False  False        False              False              False
3       False  False        False              False               True
4       False  False        False              False              False
...       ...    ...          ...                ...                ...
187526  False  False        False              False              False
187527  False  False        False              False              False
187528  False  False        False              False              False
187529  False  False        False              False              False
187530  False  False        False              False              False

        location  Carpet Area  Status  Floor  Transaction  ...  facing  \
0          False        False   False  False        False  ...    True
1          False        False   False  False        False  ...   False
2          False        False   False  False        False  ...   False
3          False        False   False  False        False  ...    True
4          False        False   False  False        False  ...   False
...          ...          ...     ...    ...          ...  ...     ...
187526     False         True   False  False        False  ...   False
187527     False         True   False  False        False  ...   False
187528     False        False   False  False        False  ...   False
187529     False         True   False  False        False  ...    True
187530     False         True   False  False        False  ...   False

        overlooking  Society  Bathroom  Balcony  Car Parking  Ownership  \
0              True    False     False    False         True       True
1             False    False     False     True        False      False
2             False    False     False     True        False      False
3              True     True     False    False         True       True
4             False    False     False     True        False      False
...             ...      ...       ...      ...          ...        ...
187526        False    False     False    False        False      False
187527        False    False     False     True        False       True
187528        False    False     False    False        False      False
187529        False    False     False     True         True       True
187530        False    False     False    False        False      False

        Super Area  Dimensions  Plot Area
0             True        True       True
1             True        True       True
2             True        True       True
3             True        True       True
4             True        True       True
...            ...         ...        ...
187526       False        True       True
187527       False        True       True
187528        True        True       True
187529       False        True       True
187530       False        True       True

[187531 rows x 21 columns]

df.notnull()
Hace lo opuesto a isnull().

Devuelve:

True si hay valor presente

False si el valor es NaN

In [14]:
#deteccion de valores ausentes
print(df.notnull())

        Index  Title  Description  Amount(in rupees)  Price (in rupees)  \
0        True   True         True               True               True
1        True   True         True               True               True
2        True   True         True               True               True
3        True   True         True               True              False
4        True   True         True               True               True
...       ...    ...          ...                ...                ...
187526   True   True         True               True               True
187527   True   True         True               True               True
187528   True   True         True               True               True
187529   True   True         True               True               True
187530   True   True         True               True               True

        location  Carpet Area  Status  Floor  Transaction  ...  facing  \
0           True         True    True   True         True  ...   False
1           True         True    True   True         True  ...    True
2           True         True    True   True         True  ...    True
3           True         True    True   True         True  ...   False
4           True         True    True   True         True  ...    True
...          ...          ...     ...    ...          ...  ...     ...
187526      True        False    True   True         True  ...    True
187527      True        False    True   True         True  ...    True
187528      True         True    True   True         True  ...    True
187529      True        False    True   True         True  ...   False
187530      True        False    True   True         True  ...    True

        overlooking  Society  Bathroom  Balcony  Car Parking  Ownership  \
0             False     True      True     True        False      False
1              True     True      True    False         True       True
2              True     True      True    False         True       True
3             False    False      True     True        False      False
4              True     True      True    False         True       True
...             ...      ...       ...      ...          ...        ...
187526         True     True      True     True         True       True
187527         True     True      True    False         True      False
187528         True     True      True     True         True       True
187529         True     True      True    False        False      False
187530         True     True      True     True         True       True

        Super Area  Dimensions  Plot Area
0            False       False      False
1            False       False      False
2            False       False      False
3            False       False      False
4            False       False      False
...            ...         ...        ...
187526        True       False      False
187527        True       False      False
187528       False       False      False
187529        True       False      False
187530        True       False      False

[187531 rows x 21 columns]

#para reemplazar los valores nulos podemos usar  df.fillna(0)
#si hacemos df2 = df.fillna(0) -> Esto crea un nuevo DataFrame (df2), donde los NaN fueron reemplazados por 0, pero df se mantiene igual.

#para reemplazar los valores nulos podemos usar  df.fillna(0)
#si hacemos df2 = df.fillna(0) -> Esto crea un nuevo DataFrame (df2), donde los NaN fueron reemplazados por 0, pero df se mantiene igual.
El parámetro inplace=True le dice a Pandas: "haz el cambio directamente en df", sin necesidad de reasignar.

In [16]:
df2 = df.fillna(0)
#df2 es el nuevo doc pero con los nan = 0

In [17]:
print(df2.head(5))

   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      3        1 BHK Ready to Occupy Flat for sale Kasheli
4      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...

                                         Description Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1  One can find this stunning 2 BHK flat for sale...           98 Lac
2  Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3  This beautiful 1 BHK Flat is available for sal...           25 Lac
4  This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr

   Price (in rupees) location Carpet Area         Status         Floor  \
0             6000.0    thane    500 sqft  Ready to Move  10 out of 11
1            13799.0    thane    473 sqft  Ready to Move   3 out of 22
2            17500.0    thane    779 sqft  Ready to Move  10 out of 29
3                0.0    thane    530 sqft  Ready to Move    1 out of 3
4            18824.0    thane    635 sqft  Ready to Move  20 out of 42

  Transaction  ... facing             overlooking  \
0      Resale  ...      0                       0
1      Resale  ...   East             Garden/Park
2      Resale  ...   East             Garden/Park
3      Resale  ...      0                       0
4      Resale  ...   West  Garden/Park, Main Road

                               Society Bathroom Balcony Car Parking  \
0  Srushti Siddhi Mangal Murti Complex        1       2           0
1                          Dosti Vihar        2       0      1 Open
2                 Sunrise by Kalpataru        2       0   1 Covered
3                                    0        1       1           0
4          TenX Habitat Raymond Realty        2       0   1 Covered

              Ownership Super Area Dimensions  Plot Area
0                     0          0        0.0        0.0
1              Freehold          0        0.0        0.0
2              Freehold          0        0.0        0.0
3                     0          0        0.0        0.0
4  Co-operative Society          0        0.0        0.0

[5 rows x 21 columns]

In [20]:
#hacer seleccion de un rando de filas y columnas
rango_filas =df2.iloc[4:6,5:9]
print(rango_filas)

  location Carpet Area         Status         Floor
4    thane    635 sqft  Ready to Move  20 out of 42
5    thane           0  Ready to Move    2 out of 7